PORT=8080
DATABASE_URL=mongodb://localhost:27017
DB_NAME=
JWT_PRIVATE_KEY=your-rsa-private-key-pem-here
JWT_PUBLIC_KEY=your-rsa-public-key-pem-here
REFRESH_TOKEN_PEPPER=your-random-secret-here
ALLOWED_ORIGINS=http://localhost:3000
RUBE_OWID_NEXT_URL=http://localhost:4001/rube
PUBSUB_TOPIC_DEMO_REGISTERED=